* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-text-color: rgb(84, 50, 50);
  --secondary-text-color: rgb(150, 125, 125);
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--primary-text-color);
  height: 4300px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  line-height: 1rem;
}

a {
  text-decoration: none;
  display: inline;
}
